.forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch {
  font-size: 16px;
  font-weight: 700;
  color: blue;
  text-decoration: none;
  margin-top: 32px;
}

form {
  display: flex;
  flex-direction: column;
  width: 438px;
  text-align: center;
}

button {
  height: 59px;
  display: flex;
  margin: 8px 0;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  border: none;
  background: blue;
}

input,
select {
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px 25px;
}
input::placeholder {
  opacity: 1;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
}
input::placeholder:hover {
  cursor: pointer;
}

p {
  position: relative;
  z-index: 1;
  color: white;
}
p:hover {
  cursor: pointer;
}
