.before {
    width: 100%;
}
table {
  width: 100%;
}
tbody,
thead {
    width: 100%;
}
tbody tr {
    border-bottom: 1px solid #f0f0f0;
}
tbody tr th{
    color: black;
    font-weight: 600;
}

thead tr th{
    color: #808080;
}

tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-auto-rows: 50px;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(5, 1fr);
}
th,
td {
  justify-content: center;
  display: flex;
  align-items: center;
}

.container{
    padding: 35px 100px;
}

.default_width {
    margin: 0 0 20px 0;
}

.top h1{
    display: flex;
}

.default_width h1{
    margin: 10px 0;
    color: black;
}

.default_width a{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
  

header{
    background-color: #f0f0f0;
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
}
.left p a{
    margin: 0 7px;
    color: black;
}

.right{
    display: flex;
    align-items: center;
}

.right svg{
    margin-left: 20px;
}