.Container #FlexBox {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 20px;
}

.item {
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(5, 51, 215, 1) 0%,
    rgba(106, 0, 255, 1) 100%
  );
}
.item:nth-child(1n + 8) {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(106, 0, 255, 1) 100%
  );
}
.item:nth-child(2n) {
  background: linear-gradient(
    90deg,
    rgb(149, 0, 255) 0%,
    rgb(255, 0, 111) 100%
  );
}
.item:nth-child(3n) {
  background: linear-gradient(
    90deg,
    rgb(0, 238, 255) 0%,
    rgb(0, 119, 255) 100%
  );
}
.item:nth-child(3n + 4) {
  background: linear-gradient(
    90deg,
    rgb(0, 238, 255) 0%,
    rgb(0, 119, 255) 100%
  );
}
.item:nth-child(4n) {
  background: linear-gradient(90deg, rgb(2, 117, 126) 0%, rgb(0, 138, 11) 100%);
}
.MoreCard {
  color: blue;
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
}


button{
    border-radius: 15px;
    border: none;
    background-color: blue;
    width: 250px;
    height: 50px;
}

button a{
    color: white;
    font-weight: 500;
}