* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Gilroy', sans-serif;
}

header {
    background: #F0F0F0;
    width: 100%;
    padding: 25px 0px;
}

.defolt_width {
    max-width: 1374px;
    margin: 0 auto;
}

ul {
    display: flex;
    grid-gap: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

ul a{
    transition: .1s ease;
}

.pg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.raight {
    display: flex;
    grid-gap: 20px;
}

.raight p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition: .1s ease;
}

.raight p:hover {
    color: #0047FF;
}

ul a:hover {
    color: #0047FF;
}

path {
    transition: .2s ease;
}

svg:hover path {
    stroke: #0047FF;
}

/* heder off */
.main {
    margin: 74px 0px;
}

.top h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 11px;
    margin-top: 44px;
}

.top a {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #0047FF;
}

.main h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.greed {
    margin: 21px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.link {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
}

.i1 {
    background-image: url(./Rectangle\ 3\ \(3\).png);
    background-repeat: no-repeat;
}

.i2 {
    background-image: url(./Rectangle\ 3\ \(4\).png);
    background-repeat: no-repeat;
}

.i3 {
    background-image: url(./Rectangle\ 3\ \(5\).png);
    background-repeat: no-repeat;
}

.i4 {
    background-image: url(./Rectangle\ 3\ \(6\).png);
    background-repeat: no-repeat;
}

.item {
    padding: 19px 23px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.rub {
    margin-top: 78px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

section h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
}

.info {
    display: flex;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.trans {
    display: flex;
    border-bottom: 1px solid #B9C0D1;
    padding: 12px 0px 12px 0px;
}

.trans span {
    margin-right: 158px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.trans span:nth-child(1) {
    margin-right: 127px;
}

.trans span:nth-child(2) {
    width: 231px;
}

.trans span:nth-child(4) {
    width: 231px;
    margin-right: 128px;
}

.trans span:nth-child(3) {
    width: 98px;
}

.trans span:nth-child(5) {
    margin-right: 0;
}

.info span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #B9C0D1;
    margin-right: 158px;
}

.info span:nth-child(2) {
    width: 231px;
}

.info span:nth-child(3) {
    width: 98px;
}

.info span:nth-child(4) {
    width: 231px;
    margin-right: 130px;
}

.info span:nth-child(5) {
    margin-right: 0;
}

.link-stoped {
    margin-top: 21px;
}

.enazer {
    margin-bottom: 60px;
}
.but{
    margin-top: 44px;
}
.but a {
    border-radius: 10px;
    background: #0047FF;
    padding: 18px 178px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}